body {
    background: #eb4511;

}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #b02e0c;
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: #b02e0c;
    display:flex;
    justify-content: center;
    margin: 50px;
}


article{

    background: #8eb1c7;
    border-radius: 15px;
    margin: 20px;
  
  }

nav{

    display:flex;
    justify-content: center;
    
  }

.button {
  
    
}

