body {
    background: #eb4511;

}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #b02e0c;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: #b02e0c;
}


article{

    background: #8eb1c7;
    border-radius: 15px;;
  
  }

nav{

    display:flex;
    justify-content: center;
    
  }

.button {
    
}

